.my-card {
    position: relative;
    transition: box-shadow 0.1s ease-in-out;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    padding: 20px 20px;
}
.my-card-blur{
    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(8px);
}
.my-card-body{
    display: flow-root;
    padding: 30px 30px;
}

.my-card-boder{
    border-top: 1.5px solid rgba(255, 255, 255, 0.3);
    border-left: 1.5px solid rgba(255, 255, 255, 0.3);
}
.my-card-round{
    border-radius: 1em;
}
.child-body{
    background-color: rgba(255, 255, 255, 0);
}
.my-bodycard{
    padding: 10px 10px;
}

.cover{
        background:transparent url(../res/bg.jpg);
        background-size:cover;
        
}

.my-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -270px;
    width: 380px;
    height: 540px;
}

.my-buttom{
    background-color: transparent;
    color: #333;
    border: 1px solid #e5e5e5;
}